:root {
    --deg: -100deg;

}
.dropdown:hover .dropdown-menu {
    display: block;
}
.subMenu:hover {
    background-color: #3b82f6;
    transition: .5s;
}
.dropWidth{
    width:13vw;

}
.textCenter{
    text-align: center!important;
}
.drompSet{
    width:min-content!important;
    white-space: nowrap ;
}
.subMenu{
    transition:.5s;
}
#arc,
#arc::before {
    display: block;
    box-sizing: border-box;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.doc{
    width:23.6rem!important;
}
#arc {
    border: solid #3b82f6 8px;
    clip: rect(0px,100px, 45px, 0px);
    margin: -1px;
}
td{
    border : 1px solid gray;
}
#arc::before {
    content: '';
    border: solid #eeeee9 8px;
    top: -8px;
    left: -8px;
    clip: rect(0px, 100px, 45px, 0px);
    transform: rotate(var(--deg));
    /* define the fill length, using the rotation above.
       from -180deg (0% fill) to 0deg (100% fill) */
    /* if you have a better solution to make thing like this
       work, please let me know! :) */
}
.bloc{
    height: 48vh;
}
.ticket{
    width: 28.8rem!important;
}
.showCornerLeftTop{
    border-top-left-radius: 0px!important;
}
.zIndex100{
    z-index: 100;
}
.zIndex110{
    z-index: 110;
}
.zIndex120{
    z-index: 120;
}
.zIndex130{
    z-index: 1000!important;
}
#tempoMenu{
    transition : .5s;
}
.myGreen{
    background-color: #28a745;
    color:  white;
}
