@media screen and (max-width: 800px) {

    #logo {
        display:none!important;
    }
    .infoDiv{
        top : 25vh;
        left: 0vh;
        position : absolute;
    }
    .ongletMenu::after{
        transition:1s;
        position: absolute;
        right:-1.5rem;
        top:3px;
        content: ' Menu ';
        color: white;
        background-color:#3b82f6 ;
        width: 1.5rem;
        height : 3.5rem;
        border-top-right-radius: 5px ;
        border-bottom-right-radius: 5px ;
        background-size: cover;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        cursor:pointer;
    }
    .mobileLogo{
        background-position: left;
        background-image : url("../logo.svg");
        background-size : inherit;
        background-repeat:no-repeat;
        height:5vh;
        width:100vh;

        margin-bottom: 10px;
    }
    #mobileMenu{
        background: linear-gradient( white, #bbc8e2, #3b82f6);
        transition:0.5s;
    }
    .smHide{
        display:none!important;
    }
    #dashboard{
        display:none!important;
    }

}

@media screen and (min-width: 800px) {
    .mobileLogo{
        display:none!important;
    }
    #logo{

    }
    #mobile{
        display:none!important;
    }
    .mdHide{
        display:none;
    }
}


.myFlexRow{
    display:flex;
    flex-flox:row;
}
