<template>
  <div id="your-component" class="w-full h-full">
    <!-- Using Component -->
    <calendar class="w-full"

        :eventCategories="eventCategories"
        :events="events"
        ref="calendar"
    />
  </div>
</template>
<script>
// Importing Component and style
import { Calendar } from 'vue-sweet-calendar'
import 'vue-sweet-calendar/dist/SweetCalendar.css'

export default {
  name: 'YourComponentName',

  data() {
    return {
      offDays:
        [1, 4]
      ,
      eventCategories: [
        {
          id: 1,
          title: 'Personal',
          textColor: 'white',
          backgroundColor: '#079d6e'
        },
        {
          id: 2,
          title: 'Company-wide',
          textColor: 'white',
          backgroundColor: '#3b82f6ff'
        }
      ],
      events: [
        {
          title: 'Event 1',
          start: '2019-04-5',
          end: '2019-04-09',
          repeat: 'monthly',
          categoryId: 1
        },
        {
          title: 'Event 1',
          start: '2019-04-12',
          end: '2019-04-17',
          repeat: 'monthly',
          categoryId: 1
        },
        {
          title: 'Event 1',
          start: '2019-04-19',
          end: '2019-04-23',
          repeat: 'monthly',
          categoryId: 1
        },
        {
          title: 'Event 1',
          start: '2019-04-26',
          end: '2019-04-30',
          repeat: 'monthly',
          categoryId: 1
        },
        {
          title: 'Event 3',
          start: '2019-04-06',
          end: '2019-04-08',
          repeat: 'monthly',
          categoryId: 2
        },
        {
          title: 'Event 3',
          start: '2019-04-14',
          end: '2019-04-17',
          repeat: 'monthly',
          categoryId: 2
        },
        {
          title: 'Event 3',
          start: '2019-04-19',
          end: '2019-04-22',
          repeat: 'monthly',
          categoryId: 2
        },
        {
          title: 'Event 3',
          start: '2019-04-29',
          end: '2019-04-30',
          repeat: 'monthly',
          categoryId: 2
        }
      ]
    }
  },
  methods: {
    goToday() {
      this.$refs.calendar.goToday()
    }
  },
  components: {
    Calendar // Registering Component
  }
}
</script>
