<template>
  <div id="app">
    <!-- Exercice 1 -->

    <div class="w-2/3 h-2/3 ml-auto text-center mr-auto">
      <h1 class="text-2xl" >Exercice 1</h1> <br>
      <p>Entrez 20 valeurs dans le champ  , on vous indiquera laquelle est la plus haute</p>
      <div class="myFlexRow w-full ml-auto mr-auto">
        <input id="inputNb" type="number"  v-on:keyup.13="push0()" v-model="inputInfo" class="w-24 pl-2 ml-auto bg-green-100 mr-5" placeholder="valeur">
        <div id="valid" @click="push0" class="border-2  mr-auto border-green-600 rounded-lg px-3 py-2 w-24 text-green-400 cursor-pointer hover:bg-green-600 hover:text-green-200"> Valider {{nbArray.length}}</div>
      </div>
      <p> {{nbArray}}</p>
      <p class="text-green-700" v-if="result != '' ">  la valeur la plus haute est : {{ result }} / trouvé en  {{ secVal }} position </p>
      <div class="border-b-2 w-full h-1 border-gray-100 mt-5"></div>
    </div>


    <!-- Exercice 2 -->
    <div class="w-2/3 ml-auto text-center mr-auto">
      <h1 class="text-2xl" >Exercice 2</h1> <br>
      <p>Entrez une valeur dans le champ  , on vous indiquera sa table de multiplication</p>
      <input id="input2" v-model="var2"  v-on:keyup.13="push1(); " type="number">
      <div id="exo2result" v-for="(items,index) in result2" :key="index">  {{items[0]}} * {{ items[1] }} = {{items[2]}}   </div>
      <div class="border-b-2 w-full h-1 border-gray-100 mt-5"></div>


    </div>

    <div class="w-2/3 ml-auto text-center mr-auto">
      <h1 class="text-2xl" >Exercice 3</h1> <br>
      <p> Valeur Factorielle  :</p>
      <input class="bg-green-50" id="input3" v-model="var3"  v-on:keyup.13="push2" type="number">
      <div class="text-green-700"> factoriel de  {{var3}} !  = {{result3}} </div>
      <div class="border-b-2 w-full h-1 border-gray-100 mt-5"></div>
    </div>

    <div class="w-2/3 ml-auto text-center mr-auto">
      <h1 class="text-2xl" >Exercice 4</h1> <br>
      <p> PMU  :</p>
      <input class="bg-green-50" id="input4" v-model="joue" type="number" placeholder="chevaux partants">
      <input class="bg-green-50" id="input5" v-model="partant"  v-on:keyup.13="push3(partant,joue)" type="number" placeholder="chevaux joués">
      <p> nombre de chevaux joués : {{ joue }}</p>
      <p> nombre de chevaux partants : {{partant}} </p>

      <div  class="text-green-700"> Une chance sur {{ex4X}} de gagner dans l'ordre  </div>
      <div class="text-green-700"> Une chance sur {{ex4Y}} de gagner dans le désordre  </div>

      <div class="border-b-2 w-full h-1 border-gray-100 mt-5"></div>
    </div>

    <div class="w-2/3 ml-auto text-center mr-auto">
      <h1 class="text-2xl" >Exercice 5</h1> <br>
      <p> Calcul du nombre de caractères  :</p>
      <input class="bg-green-50" id="input7" v-model="var4"  v-on:keyup="push4()" type="text" placeholder="text ici">
      <div class="text-green-700"> votre texte comporte {{resultEx5}}  caractères  </div>
      <div class="border-b-2 w-full h-1 border-gray-100 mt-5"></div>
    </div>
  </div>

</template>
<script>
//import jQuery from  'jquery'
//const $ = jQuery






export default {
  name: 'App',
  components: {

  },
  created() {

  },
  data() {
    return {
      inputInfo:'',
      nbArray:[],
      result: '',
      secVal : '0',
      var2 : '0',
      var3 : '0',
      var4 : '',
      result2 : [],
      result3: '',
      ex4fact: '',
      joue:'',
      partant:'',
      ex4X: '',
      ex4Y: '',
      resultEx5:''
    }
  },
  methods: {
    push0() {
      this.nbArray.push(this.inputInfo)
      if(this.nbArray.length > 5){
        this.nbArray.forEach(e => {
          if(e > this.result) {
            this.result = e
            this.secVal = this.nbArray.length

          }
        })

      }

    },
    push1() {
      this.result2 = []
      for ( let i=1; i <10 ; i++){
        this.result2.push( [ this.var2 , i , i * this.var2])
        console.log('resultat : ',this.result2)
      }
    },
    push2() {

      let total = 1
      for (let i = 1; i <= this.var3 ; i++) {
        total *= i
      }
      this.result3 = total

    },
    push3(a,b) {
     console.log(this.fact(a) , this.fact(b))
     let n = this.fact(a)
     let p = this.fact(b)
      let nlp = n - p
     this.ex4X = (n / this.fact(nlp))
     this.ex4Y = (n / this.fact((p * this.fact(nlp))))
    },
    fact(z){
      let total = 1
      for (let i = 1; i <= z ; i++) {
        total *= i
      }
      return total
    },
    push4(){
      this.resultEx5 = this.var4.length
    }
  },





}
</script>

<style >
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/css/responsive.css';


</style>
